{% load crispy_forms_tags %}
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	
</head>
<body> 
 <br><br><br><br>

<div class="container">
	
	<form method="POST">
		{% csrf_token %}

		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Log In</legend>
			{{ form|crispy }}

		</fieldset>

		<div class="form-group">
			<button class="btn" type="submit">Log in</button>

		</div>

		<div class="border-top pt-3">
			<small class="text-muted">
				Dont have an account?
				<a href="{% url 'Signup' %}">Sign Up now</a>
			</small>

		</div>


       
	</form>
		



</div>

</body>